autom4te.cache/
config.*
Config.*
*.lo
src/*.lo
src/stamp-h1
src/Makefile
tools/fcplay/Makefile
tools/fcplay/fcplay-fcplay.*
src/*.la
src/*.dll
libtool
m4/
missing
src/Config.h
src/Config.h.in
src/Config.h.in~
src/Makefile.in
Makefile
depcomp
Makefile.in
tools/fcplay/Makefile.in
tools/fcplay/.libs
tools/fcplay/.deps
install-sh
src/.libs
src/.deps
configure
configure~
aclocal.m4
config.sub
confug.guess
compile
lt-main.sh
ltmain.sh
tools/fcplay/fcplay
