autom4te.cache/
config.*
Config.*
m4/
missing
src/Config.h
src/Config.h.in
src/Config.h.in~
src/Makefile.in
tools/fcplay/Makefile.in
tools/fcplay/.libs
tools/fcplay/.deps
install-sh
src/.libs
src/.deps
configure
configure~
aclocal.m4
config.sub
confug.guess
compile
lt-main.sh
